.footer{
    display: flex;
    margin-left: 34px;
    margin-right: 16px;
    align-items: center;
    justify-items: center;
    height: 56px;
}

.footer .number__pages{
    display: flex;
    position: absolute;
    left: 50%;
    align-items: center;
    justify-content: space-between;
}

.footer .number__pages .button__hide{
    align-items:center;
    text-align: center;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    /* border: 1px solid #bbbbbb;   */
}

.footer .number__pages .button__hide:hover{
    border-radius: 25%;
    background-color: #E9EBEE;
    border: 1px solid #bbbbbb;  
}

.footer .number__pages .button__dot{
    border-radius: 50%;
    background-color: #E9EBEE;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right:8px;
    border: 1px solid #bbbbbb;
}

.footer .number__pages .focus{
    background-color: #019160;
    color: #000000;
}

.footer .number__pages .button__dot:hover{
    background-color: #ffffff;
}

.footer .number__pages .button__dot p{
    margin: 0;
    line-height: 34px;
}

.footer .note{
   position: absolute;
   right: 16px;
}