.header{
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #E5E5E5;
    background: #FFFFFF;
    display: flex;
}

.store__select{
    display: flex;
    align-items: center;
    margin: 12px 0 12px 48px;
    width: 100%;
}
.store__select .fa-angle-down{
    margin-left: 12px;
    margin-right: 12px;
}
.infor-user{
    width: calc(100% - 167px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infor-user img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 16px;
}

.infor-user a{
    margin-right: 16px;
    text-decoration: none;
    color: #000000;
    font-family: GoogleSanS-Regular;
    font-size: 13px;
}
