<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/UI/css/main.css">
  <link rel="stylesheet" href="/UI/css/layout/navbar.css">
  <link rel="stylesheet" href="/UI/css/layout/header.css">
  <link rel="stylesheet" href="/UI/css/layout/body.css">
  <link rel="stylesheet" href="/UI/css/layout/footer.css">
  <link rel="stylesheet" href="/UI/css/layout/employees/info.css">
  <title>Document</title>
</head>

<body>
  <div class="wrap">
    <div class="navbar">
      <div class="title">
        <img class="title__toggle" src="/UI/content/img/toggle.png" alt="">
        <img class="title__logo" src="/UI/content/img/cukcuk-logo.png" alt="">
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/dashboard.png" alt="">
        </div>
        <p class="menu-left__text">Tổng quan</p>
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/report.png" alt="">
        </div>
        <p class="menu-left__text">Báo cáo</p>
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/dashboard.png" alt="">
        </div>
        <p class="menu-left__text">Mua hàng</p>
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/dic-employee.png" alt="">
        </div>
        <p class="menu-left__text">Danh mục nhân viên</p>
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/dic-employee.png" alt="">
        </div>
        <p class="menu-left__text">Danh mục nhân viên</p>
      </div>
      <div class="menu-left">
        <div class="menu-left__icon">
          <img src="/UI/content/icon/setting.png" alt="">
        </div>
        <p class="menu-left__text">Thiết lập hệ thống</p>
      </div>

    </div>
    <div class="right-bar">
      <div class="header">
        <div class="store__select">
          <p>Nhà hàng Biển Đông</p>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="infor-user">
          <img src="/UI/content/icon/avatar-default.png" alt="">
          <a href="">Lê Hữu Tiến Dũng</a>
          <img src="/UI/content/icon/option.png" alt="">
        </div>
      </div>
      <div class="container">
        <div class="container__title">
          <p>Danh sách nhân viên</p>
          <div class="container__title__button" id="myDiv">
            <img src="/UI/content/icon/add.png" alt="">
            <p id="button">Thêm nhân viên</p>
          </div>
        </div>
        <div class="container__tools">
          <input class="input-search" type="text" value="" placeholder="Tìm kiếm theo Mã, Tên hoặc Số điện thoại">
          
          <!-- Component Dropdown -->
          <div class="wrap-dropdown" data-dropdown="1">
            <div class="dropdown">
              <div class="dropdown-title">
                <p>Tất cả phòng ban</p>
              </div>
              <span class="dropdown-img">
                <i class="fas fa-angle-down"></i>
              </span>
            </div>
            <div class="dropdown-data">
              <div class="dropdown-data-item">
                <div class="tick-item"></div>
                <span>Nhân sự</span>
              </div>
              <div class="dropdown-data-item">
                <div class="tick-item"></div>
                <span>Kỹ thuật</span>
              </div>
            </div>
          </div>
          
          <div class="wrap-dropdown" data-dropdown="2">
            <div class="dropdown">
                <div class="dropdown-title">
                    <p>Tất cả vị trí</p>
                </div>
                <span class="dropdown-img">
                    <i class="fas fa-angle-down"></i>
                </span>
            </div>
            <div class="dropdown-data">
                <div class="dropdown-data-item">
                    <div class="tick-item"></div>
                    <span>Fresher</span>
                </div>
                <div class="dropdown-data-item">
                    <div class="tick-item"></div>
                    <span>Intern</span>
                </div>
            </div>
        </div>

          <!-- <div class="box-dropdown room-dropdown">
            <p class="content-dropdown">Tất cả phòng ban</p>
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="box-dropdown room-dropdown">
            <p class="content-dropdown">Tất cả vị trí</p>
            <i class="fas fa-angle-down"></i>
          </div> -->

          <div class="refresh-button">
          </div>
        </div>
        <div class="content-table">
          <table>
            <thead>
              <tr>
                <th>Mã nhân viên</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th class="center">Ngày sinh</th>
                <th>Điện thoại</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th>Phòng ban</th>
                <th class="salary">Mức lương cơ bản</th>
                <th>Tình trạng công việc</th>
              </tr>
            </thead>
            <!-- sửa tbody : th thành td -->
            <tbody>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
              <tr>
                <th>NV-532408</th>
                <th>Hồ Văn Long</th>
                <th>Nam</th>
                <th class="center">01/02/2000</th>
                <th>0332623437</th>
                <th>holong@gmail.com</th>
                <th>Thu ngân</th>
                <th>Phòng Công nghệ</th>
                <th class="salary">10.000.000</th>
                <th>Đang thử việc</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="footer">
        <div class="total__employees">
          <p>Hiển thị 1-10/1000 nhân viên</p>
        </div>
        <div class="number__pages">
          <div class="button__hide">
            <img src="/UI/content/icon/btn-firstpage.svg" alt="">
          </div>
          <div class="button__hide">
            <img src="/UI/content/icon/btn-prev-page.svg" alt="">
          </div>
      
          <div class="button__dot focus">
            <p>1</p>
          </div>
          <div class="button__dot">
            <p>2</p>
          </div>
          <div class="button__dot">
            <p>3</p>
          </div>
          <div class="button__dot">
            <p>4</p>
          </div>
          <div class="button__hide">
            <img src="/UI/content/icon/btn-next-page.svg" alt="">
          </div>
          <div class="button__hide">
            <img src="/UI/content/icon/btn-lastpage.svg" alt="">
          </div>
          
          
        </div>
        <div class="note">
          <p>10 nhân viên/trang</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-box-modal">
      <div class="box-info">
          <div class="title__employee">
              <p>THÔNG TIN NHÂN VIÊN</p>
              <div class="exit">
                <i id="exit-modal" class="fas fa-times"></i>
              </div>
              
          </div>
          <div class="wrap-body">
              <div class="left-menu">
                  <div class="wrap-info">
                      <div class="avatar__info">
                          <input type="file">
                      </div>
                  </div>
                  <p>(Vui lòng chọn ảnh có định dạng .jpg,.jpeg,.png,.gif.)</p>
              </div>
              <div class="right-menu">
                  <p class="title-a">A. THÔNG TIN CHUNG:</p>
                  <div class="hr-custom"></div>
                  <!-- Div ma nhan vien, ho va ten -->
                  <div class="title-row">
                      <p class="col-1">Mã nhân viên (<span>*</span>)</p>
                      <p>Họ và tên (<span>*</span>)</p>
                  </div>
                  <div class="input-row">
                      <input class="col-1" type="text" value="" auto>
                      <input type="text" value="Lê Hữu Tiến Dũng">
                  </div>
                  <!-- Div ngay sinh, gioi tinh -->
                  <div class="title-row">
                      <p class="col-1">Ngày sinh</p>
                      <p>Giới tính</p>
                  </div>
                  <div class="input-row">
                      <!-- <div class="calendar col-1"><i class="far fa-calendar"></i></div> -->
                      <input class="calendar" type="date" data-date-format="DD MMMM YYYY" value="">
                      <div class="calendar"><i class="fas fa-angle-down"></i></div>
                  </div>
                  <!-- Div CMTND, ngay cap -->
                  <div class="title-row">
                      <p class="col-1">Số CMTND/ Căn cước (<span>*</span>)</p>
                      <p>Ngày cấp</p>
                  </div>
                  <div class="input-row">
                      <input class="col-1" type="text" value="1234567890">
                      <!-- <div class="calendar"><i class="far fa-calendar"></i></div> -->
                      <input class="calendar" type="date" value="">
                  </div>
                  <!-- Noi cap -->
                  <div class="title-row">
                      <p class="col-1">Nơi cấp</p>
                  </div>
                  <div class="input-row">
                      <input class="col-1" type="text" value="Tỉnh Thanh Hóa">
                  </div>
                  <!-- Email, so dien thoai -->
                  <div class="title-row">
                      <p class="col-1">Email (<span>*</span>)</p>
                      <p>Số điện thoại (<span>*</span>)</p>
                  </div>
                  <div class="input-row">
                      <input class="col-1" type="text" value="1234567890">
                      <input class="col-1" type="text" value="1234567890">
                  </div>
                  <p class="title-a">B. THÔNG TIN CÔNG VIỆC:</p>
                  <div class="hr-custom"></div>
                  <!-- Vi tri, phong ban -->
                  <div class="title-row">
                      <p class="col-1">Vị trí</p>
                      <p>Phòng ban</p>
                  </div>
                  <div class="input-row">
                      <div class="calendar"><i class="fas fa-angle-down"></i></div>
                      <div class="calendar"><i class="fas fa-angle-down"></i></div>
                  </div>
                  <!-- Ma so thue ca nhan, muc luong co ban -->
                  <div class="title-row">
                      <p class="col-1">Mã số thuê cá nhân</p>
                      <p>Mức lương cơ bản</p>
                  </div>
                  <div class="input-row salary-box">
                      <input class="col-1" type="text" value="235468923748923">
                      <div class="wrap-salary">
                          <input class="wrap-salary-text" type="text" value="10.000.000">
                          <span>(VNĐ)</span>
                      </div>
      
                  </div>
                  <!-- Ngay gia nhap cong ty, tinh trang cong viec -->
                  <div class="title-row">
                      <p class="col-1">Ngày gia nhập công ty</p>
                      <p>Tình trạng công việc</p>
                  </div>
                  <div class="input-row">
                      <!-- <div class="calendar col-1"><i class="far fa-calendar"></i></div> -->
                      <input class="calendar" type="date" value="">
                      <div class="calendar"><i class="fas fa-angle-down"></i></div>
                  </div>
              </div>
          </div>
          <div class="footer-modal">
            <div class="button-modal cancel">
              <p>Hủy</p>              
            </div>
            <div class="button-modal save">
              <i class="far fa-save"></i>
              <p>Lưu</p>
            </div>
          </div>
      </div>
  </div>
</body>
<script src="../js/main.js"></script>
<script src="../js/dropdown/dropdown.js"></script>
<script src="../js/api/employees/query-employees.js"></script>
</html>