<!-- Screen info of employees -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layout/employees/info.css">
</head>
<body>
    <div class="box-info">
        <div class="title__employees">
            <p>THÔNG TIN NHÂN VIÊN</p>
        </div>
        <div class="container">
            <div class="avatar__container">
                
            </div>
            <div class="text__field">

            </div>
        </div>
    </div>
</body>
</html>