.container {
  width: 100%;
  height: calc(100vh - 50px - 56px);
  background: #ffffff;
}

.container__title {
  display: flex;
  font-family: GoogleSanS-Bold;
  font-size: 20px;
  align-items: center;
}
.container__title > p {
  margin: 24px 0 24px 24px;
}
.container .container__title__button {
  display: flex;
  height: 40px;
  position: absolute;
  right: 16px;
  border-radius: 4px;
  font-family: GoogleSanS-Regular;
  text-align: start;
  border: 1px solid #bbbbbb;
  background-color: #019160;
  align-items: center;
}

.container__title__button img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 8px;
}

.container__title__button #button {
  color: #ffffff;
  font-size: 13px;
  margin-right: 16px;
}

.container__tools {
  display: flex;
  height: 42px;
}

.container__tools .input-search {
  margin-left: 24px;
  height: 38px;
  width: 280px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  font-size: 12px;
  color: #bbbbbb;
  font-family: GoogleSans-Italic;
  outline: none;
  background-image: url(/content/icon/search.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 16px;
  padding-left: 36px;
  float: left;
}

.container__tools .input-search:focus {
  border: 1px solid #019160;
  color: #000000;
  font-family: GoogleSans-Regular;
}

.container__tools .box-dropdown {
  display: flex;
  float: left;
  height: 40px;
  width: 180px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  align-items: center;
}
.container__tools .box-dropdown .content-dropdown {
  margin-left: 16px;
}

.container__tools .box-dropdown .fa-angle-down:last-of-type {
  margin-left: auto;
  margin-right: 12px;
}

.container__tools .room-dropdown {
  margin-left: 10px;
}

.container__tools .refresh-button {
  width: 46px;
  height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  background-image: url(/content/icon/refresh.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 16px;
}

/* CSS for tables */
.container .content-table {
  margin-left: 24px;
  margin-right: 16px;
  margin-top: 10px;
  text-align: left;
  font-family: GoogleSans-Medium;
  overflow: scroll;
  height: calc(100vh - 240px);
}

/* Css for scroll */
/* Track */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-resizer {
    display: none;
  }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

.content-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}

.content-table thead {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.content-table table tr {
  height: 48px;
}

.content-table table tr th {
  font-family: GoogleSans-Medium;
  font-weight: normal;
  border-bottom: 1px solid #bbbbbbbb;
}

.content-table table th {
  padding-left: 10px;
}

.content-table table tr:nth-child(even) {
  background-color: #e9ebee;
}

.content-table table .salary {
  text-align: right;
  padding-right: 20px;
}
