.footer{
    display: flex;
    margin-left: 34px;
    margin-right: 16px;
    align-items: center;
    justify-items: center;
}

.footer .total__employees{
 
}

.footer .number__pages{
    display: flex;
    position: absolute;
    left: 50%;
}

.footer .number__pages img{
    margin-right: 10px;
}

.footer .number__pages .button__dot{
    border-radius: 50%;
    background-color: #E9EBEE;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right:8px;
    border: 1px solid #bbbbbb;
}

.footer .number__pages .focus{
    background-color: #019160;
    color: #ffffff;
}

.footer .number__pages .button__dot:hover{
    background-color: #ffffff;
}

.footer .number__pages .button__dot p{
    margin: 0;
    line-height: 34px;
}

.footer .note{
   position: absolute;
   right: 16px;
}