.wrap-box-modal{
    background-color: rgba(0,0,0, 0.5);
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    position: fixed;
    /* align-items: center; */
    justify-content: center;
    overflow-y: scroll;
    z-index: 0;
}

.box-info{
    margin-top: 44px;
    margin-bottom: 20px;
    width: 804px;
    height: 812px;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    z-index: 99;
}

.title__employee {
    width: inherit;
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.exit{
    
}

.title__employee .fa-times{
    font-size: 20px;
    float: right;
}

.title__employee p{
    margin: 0;
    font-size: 20px;
    font-family: GoogleSanS-Medium;
    padding: 24px 0 24px 24px;
}

.wrap-body{
    width: inherit;
    /* height: calc(804px - 80px -62px); */
    height: 685px;
    /* background-color: aqua; */
    display: flex;
}

.wrap-body .left-menu{
    width: 23%;
    height: inherit;
    /* background-color: blueviolet; */
}

.wrap-body .left-menu .wrap-info{
    width: 100%;
    height: 122px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}

.wrap-info .avatar__info{
    width: 120px;
    height: 120px;
    /* background-color: blue; */
    background-image: url(/content/img/default-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid #bbbbbb;

}

.wrap-info input{
    width: 150px;
    height: 150px;
    border-radius: 50%;  
    margin: 0 auto;
    opacity: 0;
}

.left-menu{
    text-align: center;
}

.left-menu p{
    margin: 0;
}

.right-menu{
    width: 100%;
}

.right-menu .title-a{
    margin: 0;
    margin-bottom: 4px;
}

.hr-custom{
    width: 74px;
    height: 4px;
    background-color: #019160;
    margin-bottom: 4px;
}

.title-row{
    display: flex;
    width: 100%;
}

.title-row p{
    flex-wrap: wrap;
    width: 312px;
    margin: 0;
    margin-bottom: 4px;
}

.title-row span{
    color: #F65454;
}

.title-row .col-1{
    margin-right: 10px;
}

.input-row{
    display: flex;
    width: 100%;
    margin-bottom: 14px;
}

.input-row input{
    flex-wrap: wrap;
    width: 292px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 40px;
    color: #000000;
    font-family: GoogleSans-Regular;
    outline: none;
    padding-left: 16px;
}

.input-row input:focus{
    border: 1px solid #019160;
}

.col-1{
    margin-right: 10px;
}

.calendar{
    width: 310px;
    height: 42px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
}

input[type="date"]{
    padding-right: 20px;
    width: 274px;
    height: 42px;
}

.calendar .fa-calendar{
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

.calendar .fa-angle-down{
    float: right;
    line-height: 40px;
    margin-right: 12px;
}

/* Css for footer modal */
.footer-modal{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #E9EBEE;
}

.footer-modal .button-modal{
    border-radius: 4px;
    height: 40px;
    font-family: GoogleSans-Regular;
    display: flex;
    align-items: center;
}

.save{
    background-color: #019160;    
    margin-right: 20px;
}

.save .fa-save{
    margin-left: 16px;
    margin-right: 8px;
}

.save p{
    margin-right: 16px;
}

.cancel{
    width: 70px;
    justify-content: center;
    margin-right: 16px;
}